body {
    height: 125vh;
}

h1 {
    font-family: 'Jacques Francois Shadow', cursive;
    font-weight: lighter;
    text-align: center;
    background-color: white;
    color: #39312c;
}

#logo {
    display: block;
    width: 100%;
    text-align: center;
    border: 1px white solid;
    border-radius: 20px 20px 0 0;
    background: white;
}

#logo img {
    height: 300px;
}

.main {
    background-color: white;
    font-family: 'Lato', sans-serif;
    padding: 50px;
    margin: 50px;
}


/* Navigation */

nav {
    margin: 0 auto;
    display: block;
    padding: 20px 0 0 0;
    text-align: center;
    font-size: 16px;
}

.navbar ul li {
    list-style: none;
    margin: 0 auto;
    border-left: 2px solid #637f6f;
    display: inline-block;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
}

.navbar li a {
    color: black;
}

.navbar li a:hover {
    color: #63737f;
}

.navbar li:hover {
    cursor: pointer;
}

.navbar ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: white;
}

.navbar ul li:hover>ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
}

.navbar ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
}

.navbar ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid #63737f;
    transition: all 0.3s ease;
}

.navbar a {
    text-decoration: none;
}

.navbar a:hover {
    color: #63737f;
}

.navbar ul li ul li a {
    transition: all 0.5s ease;
}




.about-boris {
    overflow: hidden;
    padding: 0px 25px;
}

.about-boris p {
    text-align: justify;
    font-size: 20px;
}

.about-boris a {
    text-decoration: none;
    color: #637f6f;
}

.about-boris a:hover {
    color: #736358;
}

.boris-img {
    height: 300px;
    width: 300px;
    float: left;
    margin: 5px;
    padding-left: 10px;
}

.about-website {
    text-align: left;
}

.about-img {
    height: 500px;
    width: 300px;
    float: right;
    margin: 5px;
    padding-left: 10px;
}

.why-trilobites {
    overflow: hidden;
}

.why-trilobites p {
    text-align: justify;
    font-size: 16px;
}

.why-span {
    font-family: 'Merriweather', serif;
    font-size: 24px;
    color: #39312c;
}

figure {
    float: left;
    margin: 10px 10px 10px 0;
}

figure img {
    height: 400px;
    width: 500px;
}

.why-trilobites a {
    text-decoration: none;
    color: #637f6f;
}

.why-trilobites a:hover {
    color: #736358;
}

/* Contact & Creator */

.about-me {
    overflow: hidden;
}

.about-me ul li::marker {
    color: #637f6f;
}

.about-me-h1 {
    text-align: center;
    font-size: 40px;
}

.about-me-h2 {
    font-family: 'Merriweather', serif;
    color: #212121;
}

.h2-greeting {
    font-weight: 800;
    color: #63737f;
}

h3 {
    font-family: 'Merriweather', serif;
    color: #212121;
}

.about-me-img-1 {
    height: 450px;
    width: 370px;
    border-radius: 20px;
    float: left;
    margin: 15px;
    position: relative;
}


.about-me p {
    text-align: justify;
}

.information-box {
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    margin: 4px 4px;
    padding: 4px;
}

.my-artwork {
    padding: 40px 0;
}

.my-artwork h2 {
    font-family: 'Merriweather', serif;
    color: #212121;
    text-align: center;
}

.slideshow {
    overflow: hidden;
    width: 2000px;
    height: 400px;
    overflow-x: scroll;
    display: inline-flex;
}

/* Scrollbar */

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #637f7d;
}

/* Footer */